// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');

$white: #FFFFFF;
$Dwhite : #FBFEFF;
$whiteFC : #FCFCFC;
$whiteFB : #FCFCFB;
$grey-3: #333333;
$grey-6: #666666;
$grey-5:#555555;
$grey-9:#999999;
$grey-8:#888888;
$gray-7:#788DA5;
$grey-c:#CCCCCC;
$green-AB : #A8BD30;
$green-4 : #419187;
$black: #000000;
$red: #dc3545;
$blue: #047ABA;
$dark-blue: #00468e;
$blue-FF : #F8FCFF;
$blue-4: #426277;
$yellow: #EEAE1A;
$yellow-F:#FCF8F2;




$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$extraBold: 800;

$imgPath: '../../images';

$base-size: 16.5;
@function rem($target, $context: $base-size) {
    @return ($target / $base-size) * 1rem;
}
$default-behaviour : true ; //  true or false

//== font-families
//
// font family 
$font-family-default: 'Inter', sans-serif;
$font-numbers-default : 'Inter', sans-serif;
$fonts-map-default: ( 
); 

// font family 
$font-family-reverse: 'Almarai', sans-serif;
$font-numbers-reverse : 'Almarai', sans-serif;
$fonts-map-reverse: (
); 
 