// general styling 
html[lang=en] {
    .lang-btn[data-lang=ar] {
        display: block;
    }

    .lang-btn[data-lang=en] {
        display: none;
    }
    .switchlang-btn{
        font-family: 'Almarai', sans-serif;
    }
}

html[lang=ar] {
    .lang-btn[data-lang=en] {
        display: block;
    }

    .lang-btn[data-lang=ar] {
        display: none;
    }

    .switchlang-btn{
        font-family: 'Inter', sans-serif;
    }
    .home-services{
        .container .cards-container .row:after{
            transform: scaleX(-1);
        }
    }
}

html {font-size: rem(16);}
@media (max-width: 1600px) {
    html {font-size: rem(14);}
}
@media (max-width: 1200px) {
    html {font-size: rem(13);}
}
@media (max-width: 992px) {
    html {font-size: rem(12);}
}
@media (max-width: 580px) {
    html {font-size: rem(11);}
}

body {
    box-sizing: border-box;
    color: $grey-3;
    font-family: $font-family;
    text-align: $left;
    // background-color: #FBFEFF !important;
    // background-color: #F5FBFE;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: rgba($color: $blue, $alpha: 0.26);
}

::-webkit-scrollbar-thumb {
    background-color: $dark-blue;
    border-radius: rem(5);
}

a,
.btn {
    transition: all ease 0.2s;
}

a {
    color: $blue;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $dark-blue;
    }
}

h1,
h2,
h3,
h4,
p {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
a {
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
}


.flex-end{
    justify-content: flex-end;
}

// header
.logo{
    position: absolute;
    background-color: #FAFAFA;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.08);
    height: rem(173);
    width: rem(160);
    
    display: block;
    z-index: 1;
    .logo-img{
        padding: rem(40) rem(18);
    }
}
.top-header{
    justify-content: flex-end;
    display: flex;
    padding: rem(22) rem(0);
    .navbar{
        padding-left: 0;
        padding-right: 0;
        .nav-item{
            display: flex;
            margin-#{$left}: rem(30);
            align-items: center;
            .item-icon{
                margin-#{$right}: rem(10);
            }
            .item-content{
                color: #3F93C1;
                font-size: rem(14);
                font-weight: $fontRegular;
                line-height: rem(17);
                .phone-note {
                    font-size: rem(12);
                    line-height: rem(15);
                    color: $grey-5;
                }
            }
            .switchlang-btn{
                border-radius: rem(13);
                border-color: #3F93C1;
                color: #3F93C1;
                font-weight: $fontBold;
                line-height: rem(22);
                // font-family:  'Almarai', sans-serif;
                &:hover,&:active {
                    color: $white;
                }
            }
        }
        
    }
    
}
.nav-row{
    background-color: #006FAD;
    box-shadow: 0 3px 6px rgba(0,0,0,.08);
    .navbar-light .navbar-toggler{
        margin: rem(10) 0;
    }
    .navbar{
        padding: 0;
        .navbar-collapse{
            justify-content: flex-end;
            ul{
                .nav-item{
                    // margin-#{$left}: rem(30);
                    &.active,&:hover{
                        background-color: #BFDBEA;
                        .nav-link{
                            color: #006FAD;
                            opacity: 100%;
                        }
                    }
                    .nav-link{
                        color: $white;
                        opacity: 70%;
                        font-size: rem(16);
                        line-height: rem(20);
                        font-weight: $fontRegular;
                        padding: rem(15);
                    }
                }
            }
        }
    }
}
.breadcrumbs-wrapper{
    box-shadow: 0 0 6px rgba(0,0,0,0.06);
    .breadcrumb{
        background:none;
        padding:rem(18) 0;
        margin: 0;
    }
}


// home page
.home-cover{
    background: url(../../images/home/cover.svg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 84vh;
    position: relative;
    .home-cover-content{
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        align-items: center;
        height: 100%;
        flex-direction: column;
        div{
            font-size: rem(70);
            color: $white;
            line-height: rem(100);
            font-weight: $extraBold;
            @media (max-width:768px) {
                font-size: rem(50);
            }
            @media (max-width:576px) {
                font-size: rem(35);
            }
            @media (max-width:370px) {
                font-size: rem(25);
            }
        }
        .scroll-down-icon{
            width: rem(40);
            height: rem(40);
            border-radius: 50%;
            margin-top: rem(80);
            background-color: $white;
            border: 1px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                // animation: name duration timing-function delay iteration-count direction fill-mode;
                // animation: scrolling 2s infinite alternate;
                animation: scrolling 2s infinite forwards
            }
        }
        
        
        
    }
}
@keyframes scrolling {
    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}
.home-cover:after{
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    $left: 0;
    opacity: 0.6;
}
.about-us-page{
    .about-us{
        transform: translateY(rem(0));
        margin-top: rem(80);
    }
}
.about-us{
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    padding: rem(50) rem(40);
    background-color: $white;
    transform: translateY(rem(-100));
    padding-top: rem(20);
    border-radius: rem(15);
    .title{
        font-size: rem(28);
        line-height: rem(100);
        font-weight: $fontBold;
        color: #006FAD;
    }
    .content{
        font-size: rem(16);
        line-height: rem(32);
        font-weight: $fontRegular;
        color: $grey-5;
        & div:first-of-type{
            margin-bottom: rem(40);
        }
    }
    .image-container {
        height: 100%;
        display: flex;
        padding-#{$left}: rem(30);
        border-#{$left}: 2px solid #E9E9E9;
        @media (max-width: 768px) {
            border: 0;
            padding: 0;
            margin-top: rem(30);
            padding-top: rem(30);
            border-top: 2px solid #E9E9E9;
        }
        img {
            margin: auto;
            max-width: 100%;
        }
    }
    // img{
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    // }
}

.vision-mission{
    background: url(../../images/home/curve-line.svg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: rem(150) 0;
    @media (max-width: 767px) {
        background: none;
    }
    .vision{
        margin-bottom: rem(200);
        @media (max-width: 767px) {
            .row {
                flex-direction: column-reverse;
            }
        }
    }
    .vision,.mission {
        .content{
            .title{
                font-size: rem(28);
                font-weight: $fontBold;
                line-height: rem(100);
                color: $grey-3;
            }
            .text{
                font-size: rem(16);
                font-weight: $fontRegular;
                line-height: rem(32);
                color: $grey-5;
            }
        }
    }
}

.our-values{
    background-color: #003756;
    padding-top: rem(80);
    padding-bottom: rem(80);
    .title{
        font-size: rem(30);
        line-height: rem(36);
        font-weight: $fontBold;
        color: $white;
        text-align: center;
        margin-bottom: rem(20);
    }
    .sub-title{
        font-size: rem(16);
        line-height: rem(20);
        font-weight: $fontRegular;
        color: #E9E9E9;
        text-align: center;
        margin-bottom: rem(80);
    }
    .boxes{
        .box{
            background-color: $white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: rem(20) rem(20) rem(30) rem(20);
            border-radius: 6px;
            height: 100%;
            .box-icon{
                margin-bottom: rem(25);
            }
            .box-title{
                font-size: rem(20);
                line-height: rem(24);
                font-weight: $fontBold;
                color: $grey-3;
                margin-bottom: rem(15);
            }
            .box-content{
                font-size: rem(16);
                font-weight: $fontRegular;
                line-height: rem(24);
                color: $grey-5;
            }
        }
    }
}

.home-services{
    background-color: #F7F7F7;
    position: relative;
    .container .cards-container .row:after{       
        content: "";
        background: url(../../images/home/services-curve-line.svg) top $right no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        #{$right}: -100px;
        @media (max-width:1350px) {
            #{$right}: -20px
        }
        @media (max-width:768px) {
            background: none;
            #{$right}: 0
        }
    }
    .content-conainer{
        height: 100%;
        display: flex;
        .content{
            margin: auto;
            .title{
                font-size: rem(30);
                font-weight: $fontBold;
                line-height: rem(100);
                color: $grey-3;
            }
            .sub-title{
                margin-bottom: 80px;
            }
            .text{
                font-size: rem(16);
                font-weight: $fontRegular;
                line-height: rem(30);
                color: $grey-3;
            }
            .mb-30{
                margin-bottom: 30px;
            }
        }
    }
    .cards-container{
        padding: rem(40) 0;
        .card{
            background-color: $white;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            padding: rem(20);
            margin: rem(40) 0;
            border-radius: rem(6);
            z-index: 2;
            .number{
                width: rem(50);
                height: rem(50);
                border-radius: 50%;
                background-color: #7FB7D6;
                margin-bottom: rem(20);
                display: flex;
                span{
                    font-size: rem(25);
                    font-weight: $fontRegular;
                    line-height: rem(40);
                    color: $white;
                    margin: auto;
                }
            }
            .text{
                font-size: rem(16);
                font-weight: $fontRegular;
                line-height: rem(24);
                color: $grey-5;
            }
        }
    }
    // .cards-container:after{
    // }
}

.technical-translation{
    background-color: #2B3315;
    .box-container{
        height: 100%;
        display: flex;
        .title{
            font-size: rem(30);
            font-weight: $fontBold;
            line-height: rem(100);
            color: #AECD54;
        }
        .text {
            font-size: rem(16);
            line-height: rem(30);
            font-weight: $fontRegular;
            color: #E9E9E9;
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: rem(30) 0;
    flex-wrap: wrap;
    @media (max-width:359px) {
        justify-content: center;
        .socialmedia-icons{
            margin-top: rem(10);
        }
    }
    .Copyright{
        font-size: rem(14);
        line-height: rem(22);
        font-weight: $fontRegular;
        opacity: 80%;
        color: $grey-3;
        span{
            font-weight: $fontBold;
        }
    }
    .socialmedia-icons{
        display: flex;
        li{
            margin-#{$left}: rem(20);
        }
        li:first-of-type{
            margin-#{$left}: 0;
        }
    }
}

// services cover
.services-cover{
    background: url(../../images/home/happy-young-asia-businessmen-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project-colleagues-working-together-planning-success-strategy-enjoy-teamwork-small-modern-office.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    .services-cover-content{
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        align-items: flex-start;
        height: 100%;
        flex-direction: column;
        padding-bottom: rem(60);
        .title,.sub-title{
            font-size: rem(40);
            color: $white;
            line-height: rem(60);
            font-weight: $fontRegular;
        } 
        .sub-title{
            font-size: rem(20);
        }
    }
}
.services-cover:after{
    width: 100%;
    height: 100%;
    content: "";
    // background-color: #006FAD;
    position: absolute;
    top: 0;
    $left: 0;

    background: rgb(0,111,173);
    background: linear-gradient(180deg, rgba(0,111,173,0) 0%, rgba(0,58,90,0.93) 85%, rgba(0,55,86,1) 100%);
}


// saso page
.saso-cover{
    background: url(../../images/saso/cover.svg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    .saso-cover-content{
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        align-items: flex-start;
        height: 100%;
        flex-direction: column;
        padding-bottom: rem(60);
        div{
            font-size: rem(35);
            color: $white;
            line-height: rem(60);
            font-weight: $fontSemiBold;
        }
    }
}
.saso-cover:after{
    width: 100%;
    height: 100%;
    content: "";
    // background-color: #006FAD;
    position: absolute;
    top: 0;
    $left: 0;
    // opacity: 0;
    background: rgb(0,111,173);
    background: linear-gradient(180deg, rgba(0,111,173,0) 0%, rgba(0,58,90,0.93) 85%, rgba(0,55,86,1) 100%);
}
.saso-content {
    background-color: #F7F7F7;
    padding-top: rem(80);
    padding-bottom: rem(47);
    .saso-text{
        font-size: rem(16);
        line-height: rem(32);
        font-weight: $fontRegular;
        color: $grey-3;
        margin-bottom: rem(20);
    }
    .saso-black-text {
        font-weight:900;
        color: $black;
    }
    .saso-cart{
        background-color: $white;
        box-shadow: 0 0 20px rgba(0,0,0,.08);
        border-radius: rem(8);
        padding: rem(100) rem(50);
        margin: rem(60) 0;
        .saso-text{
            color: $grey-5; 
        }
    }
}


// iso page
.iso-content {
    background-color: #F7F7F7;
    padding: rem(80) 0;
    min-height: calc(100vh - 272px);
    .iso-cart{
        background-color: $white;
        box-shadow: 0 0 20px rgba(0,0,0,.08);
        border-radius: rem(8);
        padding: rem(60) rem(40);
        .title{
            font-size: rem(28);
            line-height: rem(50);
            font-weight: $fontBold;
            color: #006FAD;
            margin-bottom: rem(30);
        }
        .text {
            font-size: rem(16);
            font-weight: $fontBold;
            line-height:  rem(32);
            color: $grey-3;
        }
        .image-container {
            height: 100%;
            display: flex;
            padding-#{$left}: 1.81818rem;
            border-#{$left}: 2px solid #E9E9E9;
            @media (max-width: 768px) {
                border: 0;
                padding: 0;
                margin-top: rem(30);
                padding-top: rem(30);
                border-top: 2px solid #E9E9E9;
            }
            img {
                margin: auto;
            }
        }
    }
}


// saudi page 
.saudi-cover{
    background: url(../../images/saudi/cover.png) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    .saudi-cover-content{
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        align-items: flex-start;
        height: 100%;
        flex-direction: column;
        padding-bottom: rem(60);
        div{
            font-size: rem(35);
            color: $white;
            line-height: rem(60);
            font-weight: $fontSemiBold;
        }
    }
}
.saudi-cover:after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    $left: 0;
    background: rgb(0,111,173);
    background: linear-gradient(180deg, rgba(0,111,173,0) 0%, rgba(0,58,90,0.93) 85%, rgba(0,55,86,1) 100%);
}
.saudi-content {
    padding: rem(80) 0;
    .saudi-text{
        font-size: rem(16);
        line-height: rem(32);
        font-weight: $fontRegular;
        color: $grey-5;
    }
    .saudi-image{
        background-color: #DCEBF2;
        border-radius: rem(4);
        width: rem(160);
        height: rem(158);
        display: inline-flex;
        img {
            padding: rem(30);
        }
    }
}
.soudi-box-wrapper{
    background-color: #F7F7F7;
    padding: rem(80) 0;
    .saudi-text{
        font-size: rem(16);
        line-height: rem(32);
        font-weight: $fontRegular;
        color: $grey-3;
    }
    .saudi-text div:first-of-type {
        margin-bottom: rem(20);
    }
    .image-container {
        height: 100%;
        display: flex;
        @media (max-width: 768px) {
            margin-top: rem(30);
            border-top: 2px solid #E9E9E9;
        }
        img {
            margin: auto;
        }
    }
}

// quality page
.quality-cover{
    background: url(../../images/quality/cover.png) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    .quality-cover-content{
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
        align-items: flex-start;
        height: 100%;
        flex-direction: column;
        padding-bottom: rem(60);
        div{
            font-size: rem(35);
            color: $white;
            line-height: rem(60);
            font-weight: $fontSemiBold;
        }
    } 
}
.quality-cover:after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    $left: 0;
    background: rgb(0,111,173);
    background: linear-gradient(180deg, rgba(0,111,173,0) 0%, rgba(0,58,90,0.93) 85%, rgba(0,55,86,1) 100%);
}

.quality-box-wrapper{
    background-color: #F7F7F7;
    padding-top: rem(80);
    padding-bottom: rem(80);
    .quality-box{
        background-color: $white;
        box-shadow: 0 0 20 rgba(0,0,0,.08);
        padding: rem(25) rem(30);
        .text-container{
            height: 100%;
            display: flex;
            .saudi-text{
                margin: auto;
                font-size: rem(16);
                line-height: rem(32);
                font-weight: $fontRegular;
                color: $grey-5;
            }
        }
        .image-container{
            text-align: $right;
            @media (max-width: 768px) {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

.quality-saso-box{
    background-color: #F7F7F7;
    padding-top: rem(40);
    padding-bottom: rem(40);
    .text-container{
        display: flex;
        height: 100%;
        .text{
            margin: auto;
            font-size: rem(16);
            line-height: rem(32);
            font-weight: $fontRegular;
            color: $grey-3;
        }
    }
    .image-container{
        background-color: $white;
        box-shadow: 3 3 16 rgba(0,0,0,.1);
        display: flex;
        justify-content: space-between;
        padding: rem(28) rem(50) rem(33) rem(50);
        // flex-wrap: wrap;
    }
}

.quality-mark{
    padding: rem(80) 0;
    .content-container{
        height: 100%;
        display: flex;
        .content{
            margin: auto;
            .title{
                font-size: rem(30);
                line-height: rem(100);
                font-weight: $fontBold;
                color: $grey-3;
            }
            .content-list{     
                li{
                    background: url('../../images/quality/Bullet.svg') no-repeat $left top;
                    font-size: rem(16);
                    line-height: rem(30);
                    font-weight: $fontRegular;
                    color: $grey-3;
                    padding-#{$left}: 32px;
                    padding-bottom: 21px;
                }
            }
        }
    }
}

// contact us page
.contact-us-content{
    background-color: #FAFAFA;
    padding: rem(80) 0;
    .title{
        font-size: rem(28);
        line-height: rem(50);
        font-weight: $fontBold;
        color: #006FAD;
    }
    .sub-title{
        font-size: rem(16);
        line-height: rem(20);
        font-weight: $fontRegular;
        color: $grey-5;
        margin-bottom: rem(39);
    }
    .contact-form-wrapper{
        .form-box{
            padding: rem(40) rem(30);
            background-color: $white;
            box-shadow: 0 rem(3) rem(16) rgba(0,0,0,.12);
            border: 1px solid #707070;
            border-radius: rem(10);
            .field-wrapper {
                display: block;
                margin: rem(30) 0;
                position: relative;
                outline: none;
                width: 100%;
                &.focused label {
                    transition: all .2s linear;
                    top: -25px;
                    color: #006FAD;
                } 
                // &.focused input,
                // &.focused textarea{
                //     border: 2px solid #006FAD;
                //     // &:focus{
                //     //     border: 2px solid #006FAD;
                //     // }
                // }
                label {
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 1em;
                    position: absolute;
                    top: 0px;
                    display: inline-block;
                    background: #FFF;
                    margin: 16px 6px 0;
                    padding: 0 10px;
                    transition: all .2s linear;
                    text-transform: capitalize;
                    font-size: rem(16);
                    line-height: rem(24);
                    font-weight: $fontRegular;
                    color: $grey-6;
                }
                input,textarea{
                    padding: rem(20);
                    width: 100%;
                    border: 1px solid #D9D9D9;
                    border-radius: rem(4);
                    .has-error{
                        border: 0;
                        border: 2px solid red;
                    }
                }
                &.focused input,
                &.focused textarea{
                    border: 0;
                    outline: 0;
                    border: 2px solid #006FAD;
                    // &:focus{
                    //     border: 2px solid #006FAD;
                    // }
                }
                .has-error{
                    border: 0;
                    border: 2px solid #ff00008f;
                }
                .error-msg {
                    color: red;
                    padding-#{$left}:rem(5);
                }
            }
            .submit_btn{
                background-color: #006FAD;
                box-shadow: 0 5px 20px rgba(0,111,173,.2);
                border-radius: rem(4);
                padding: rem(16) rem(60);
                font-size: rem(16);
                line-height: rem(28);
                font-weight: $fontSemiBold;
                color: $white;
                &:hover,&:active{
                    box-shadow: 0 5px 20px rgba(0,111,173,.8);
                }
            }
        }
    }
    .contact-info-container{
        height: 100%;
        display: flex;
        .contact-info{
            margin-top: auto;
            width: 100%;
            .img-container{
                margin-bottom: rem(50);
                img{
                    width: 100%;
                }
            }
            .content{
                .box{
                    border-radius: rem(4);
                    border: 1px solid #D9D9D9;
                    display: flex;
                    align-items: center;
                    padding: rem(14) 0;
                    margin-bottom: rem(10);
                    .box-icon{
                        padding: rem(16);
                    }
                    .box-content{
                        .title{
                            font-size: rem(12);
                            line-height: rem(15);
                            font-weight: $fontRegular;
                            color: $grey-5;
                        }
                        .text{
                            font-size: rem(16);
                            line-height: rem(20);
                            font-weight: $fontRegular;
                            color: #006FAD;
                        }
                    }
                }
            }
        }
    }
    
}